In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df =pd.read_csv('data\Air Pollution.csv')
df

,Country Name,City,Year,PM2.5 (μg/m3),PM10 (μg/m3),NO2 (μg/m3),PM25 temporal coverage (%),PM10 temporal coverage (%),NO2 temporal coverage (%),Updated Year
0,Afghanistan,Kabul,2019,119.77,NaN,NaN,18.0,NaN,NaN,2022
1,Albania,Durres,2015,NaN,17.65,26.63,NaN,NaN,83.961187,2022
2,Albania,Durres,2016,14.32,24.56,24.78,NaN,NaN,87.932605,2022
3,Albania,Elbasan,2015,NaN,NaN,23.96,NaN,NaN,97.853881,2022
4,Albania,Elbasan,2016,NaN,NaN,26.26,NaN,NaN,96.049636,2022
...,...,...,...,...,...,...,...,...,...,...
32186,Viet Nam,Nha Trang,2013,NaN,30.00,NaN,NaN,NaN,NaN,2018
32187,Viet Nam,Nha Trang,2014,NaN,12.00,NaN,NaN,NaN,NaN,2018
32188,Viet Nam,Nha Trang,2015,NaN,14.00,NaN,NaN,NaN,NaN,2018
32189,Viet Nam,Viet Tri,2013,NaN,27.00,NaN,NaN,NaN,NaN,2018
32190,Viet Nam,Viet Tri,2014,NaN,22.00,NaN,NaN,NaN,NaN,2018

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32191 entries, 0 to 32190
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Country Name                32191 non-null  object
 1   City                        32191 non-null  object
 2   Year                        32191 non-null  int64
 3   PM2.5 (μg/m3)               15048 non-null  float64
 4   PM10 (μg/m3)                21109 non-null  float64
 5   NO2 (μg/m3)                 22200 non-null  float64
 6   PM25 temporal coverage (%)  7275 non-null   float64
 7   PM10 temporal coverage (%)  5381 non-null   float64
 8   NO2 temporal coverage (%)   19890 non-null  float64
 9   Updated Year                32191 non-null  int64
dtypes: float64(6), int64(2), object(2)
memory usage: 2.5+ MB

In [4]:
df.isnull().sum()

Country Name                      0
City                              0
Year                              0
PM2.5 (μg/m3)                 17143
PM10 (μg/m3)                  11082
NO2 (μg/m3)                    9991
PM25 temporal coverage (%)    24916
PM10 temporal coverage (%)    26810
NO2 temporal coverage (%)     12301
Updated Year                      0
dtype: int64

In [6]:
df[df.duplicated()]

,Country Name,City,Year,PM2.5 (μg/m3),PM10 (μg/m3),NO2 (μg/m3),PM25 temporal coverage (%),PM10 temporal coverage (%),NO2 temporal coverage (%),Updated Year
202,Australia,Perth,2019,6.84,12.58,9.09,96.200000,95.966667,97.350000,2022
1251,Bangladesh,Chittagong,2017,56.92,120.25,27.58,40.165525,50.582192,41.666667,2022
16717,Iraq,Baghdad,2019,42.51,NaN,50.23,76.000000,NaN,NaN,2022
20644,Mexico,Mexico City,2018,22.70,42.50,83.94,89.189311,90.202111,90.558051,2022
20736,Mexico,Villahermosa,2018,13.00,24.75,NaN,NaN,90.705143,NaN,2022
...,...,...,...,...,...,...,...,...,...,...
28643,Switzerland,Saxon,2019,8.00,11.99,14.51,NaN,NaN,99.794521,2022
28796,Switzerland,Winterthur,2013,NaN,19.01,24.60,NaN,NaN,97.716895,2022
28801,Switzerland,Winterthur,2017,NaN,13.72,17.92,NaN,NaN,97.682648,2022
28803,Switzerland,Winterthur,2018,NaN,15.09,16.11,NaN,NaN,99.611872,2022
28805,Switzerland,Winterthur,2019,NaN,12.43,15.10,NaN,NaN,98.904110,2022

In [7]:
df.drop_duplicates(inplace=True)

Empty DataFrame
Columns: [Country Name, City, Year, PM2.5 (μg/m3), PM10 (μg/m3), NO2 (μg/m3), PM25 temporal coverage (%), PM10 temporal coverage (%), NO2 temporal coverage (%), Updated Year]
Index: []